table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
form {
  width: 600px;
  margin: 0 auto;
  border: 5px solid #17a2b8;
  padding: 15px 30px;
}
